.formulario-cliente {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f3ff;
}

.input-cliente {
  padding: 10px;
  border: 1px solid #ccc;
  background: #e4e4e7;
  border-radius: 3px;
  font-size: 16px;
  color: #172554;
}
input::placeholder {
  color: #172554;
}

.boton-cliente {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #1d375c;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.boton-cliente:hover {
  background-color: #1a4d84;
}
