.tabla-clientes {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
  color: black;
}

.tabla-clientes th,
.tabla-clientes td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.tabla-clientes td {
  background: #ffffff;
}
.tabla-clientes th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.tabla-clientes tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tabla-clientes tr:hover {
  background-color: #f1f1f1;
}
