#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* Estilos generales para la aplicación */
.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}
body {
  background: #cec6b8;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
input {
  background: #eff3ff;
  color: #061407;
}

h1,
h2 {
  text-align: center;
  color: #333;
  font-weight: 700;
  margin-bottom: 20px;
}
.title {
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 80px;
  color: #025480ca;
}

/* Estilos del formulario de clientes */
.formulario-cliente {
  margin-bottom: 20px;
}

/* Estilos del selector de orden */
.ordenar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.ordenar-container label {
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
  color: #333;
}

select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  margin-left: 10px;
}

/* Estilos de los botones */
.boton-ordenar,
.boton-desordenar {
  background-color: #3c737e;

  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.boton-ordenar:hover {
  background-color: #374d97dc;
}

.boton-desordenar {
  background-color: #f48b36;
}

.boton-desordenar:hover {
  background-color: #e3633c;
}

/* Estilos para el gráfico de estadísticas */
.grafico-estadisticas {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para la tabla de clientes */
.tabla-clientes {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabla-clientes th,
.tabla-clientes td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  font-size: 14px;
}

.tabla-clientes th {
  background-color: #061407;
  color: white;
  font-weight: bold;
}

.tabla-clientes tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tabla-clientes tr:hover {
  background-color: #ddd;
}

/* Estilos de las secciones generales */
.cargar-json,
.tabla-clientes,
.grafico-estadisticas {
  margin-bottom: 20px;
}

/* Contenedor de la sección de búsqueda */
.busqueda-container {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo para la etiqueta "Buscar por" */
.busqueda-container label {
  font-weight: bold;
  margin-right: 10px;
  font-size: 16px;
  color: #333;
}

/* Estilos para el selector de criterio */
.busqueda-container select {
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
}

/* Estilos del campo de texto para la búsqueda */
.busqueda-container input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 200px;
  margin-right: 10px;
}

/* Estilos del botón de búsqueda */
.busqueda-container button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover para el botón de búsqueda */
.busqueda-container button:hover {
  background-color: #45a049;
}
.boton-buscar {
  margin-top: 10px;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.lista {
  display: flex;
}
.estadistica {
  padding: 20px;
}
.grande {
  display: flex;
  width: 100%;
}
.botones-main {
  display: flex;
  width: auto;
  justify-content: center;
}
.papa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 60%;
}
.addd {
  flex: 0 0 40%;
}
